<!DOCTYPE html>
<html>

<head>
    <title>Interview Air</title>
</head>

<body>
	<div id="first_box">
		<span>Enter Your Name:</span>
		<input type="text" id="name" />
		<button id="proceed">Proceed</button>
	</div>
    <div id="second_box">
        <a href="#join">Join</a>
        <a href="#start">Start</a>
    </div>
    <div id="conversation_box">
        <input type="text" id="message" />
        <div id="conversation">
        </div>
        <button id="enter">Send</button>
    </div>
</body>
<script type="text/javascript" src="/js/peer.js"></script>
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/js/mod.js"></script>

</html>
