<!DOCTYPE html>
<html>

<head>
    <title>Interview Air</title>
</head>

<body>
    <div>
        <a href="#join">Join</a>
        <a href="#start">Start</a>
    </div>
    <input type="text" id="message" />
    <div id="conversation">
    </div>
    <button id="enter">Send</button>
</body>
<script type="text/javascript" src="/js/peer.js"></script>
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/js/mod.js"></script>

</html>
